<div class="container mt-4">
  <h2>Gestión de Equipos</h2>
  <button class="btn btn-primary mb-3 me-5" (click)="mostrarModalAgregar()">
    Agregar Equipo
  </button>
  <button
    type="button"
    class="btn btn-secondary mb-3"
    (click)="router.navigate(['/admin'])"
  >
    Cerrar
  </button>
  <!-- Filtro por Tipo de Equipo -->
  <div class="mb-3">
    <label for="filtroTipoEquipo" class="form-label"
      >Filtrar por Tipo de Equipo</label
    >
    <select
      id="filtroTipoEquipo"
      [(ngModel)]="tipoEquipoSeleccionado"
      name="filtroTipoEquipo"
      class="form-select"
      (change)="filtrarPorTipoEquipo()"
    >
      <option [value]="''">Todos</option>
      <option *ngFor="let tipo of tiposEquipo" [value]="tipo.nombre">
        {{ tipo.nombre }}
      </option>
    </select>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Estado</th>
        <th>Sala</th>
        <th>Serial</th>
        <th>Tipo Equipo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let equipo of equiposFiltrados">
        <td>{{ equipo.idEquipo }}</td>
        <td>{{ equipo.estadoEquipo }}</td>
        <td>{{ equipo.sala.nombre }}</td>
        <td>{{ equipo.serial }}</td>
        <td>{{ equipo.tipoEquipo.nombre }}</td>
        <td>
          <button
            class="btn btn-warning btn-sm"
            (click)="mostrarModalEditar(equipo)"
          >
            Editar
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modal -->
  <div
    class="modal fade"
    id="equipoModal"
    tabindex="-1"
    aria-labelledby="equipoModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            {{ editando ? "Editar Equipo" : "Agregar Equipo" }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <form (ngSubmit)="guardarEquipo()">
          <div class="modal-body">
            <div class="mb-3">
              <label for="estado" class="form-label">Estado</label>
              <input
                type="checkbox" 
                id="estado"
                [(ngModel)]="equipoActual.estadoEquipo"
                name="estado"
                class="form-check-input"
              />
            </div>
            <div class="mb-3">
              <label for="sala" class="form-label">Sala</label>
              <select
                id="sala"
                [(ngModel)]="equipoActual.sala.idSala"
                name="sala"
                class="form-select"
                required
              >
                <option value="" disabled>Seleccione una sala</option>
                <option *ngFor="let sala of salas" [value]="sala.idSala">
                  {{ sala.nombre }}
                </option>
              </select>
            </div>
            <div class="mb-3">
              <label for="serial" class="form-label">Serial</label>
              <input
                type="text"
                id="serial"
                [(ngModel)]="equipoActual.serial"
                name="serial"
                class="form-control"
                required
              />
            </div>
            <div class="mb-3">
              <label for="tipoEquipo" class="form-label">Tipo Equipo</label>
              <select
                id="tipoEquipo"
                [(ngModel)]="equipoActual.tipoEquipo.idTipoEquipo"
                name="tipoEquipo"
                class="form-select"
                required
              >
                <option value="" disabled>Seleccione un tipo</option>
                <option *ngFor="let tipo of tiposEquipo" [value]="tipo.idTipoEquipo">
                  {{ tipo.nombre }}
                </option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
            <button type="submit" class="btn btn-primary">
              {{ editando ? "Actualizar" : "Guardar" }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
