<div class="login-container">
  <div class="login-card">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4b/Uniempresarial_logo.png/1200px-Uniempresarial_logo.png"
      alt="Logo Uniempresarial"
      class="logo"
    />
    <h3>Uniempresarial</h3>
    <h4>Fundación Universitaria Empresarial</h4>
    <form (ngSubmit)="onLogin()">
      <div class="input-group">
        <input
          type="email"
          placeholder="Correo electrónico"
          [(ngModel)]="loginData.correo"
          name="correo"
          required
          #correo="ngModel"
        />
        <span class="input-icon">
          <i class="fas fa-user"></i>
        </span>
      </div>
      <div class="input-group">
        <input
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Contraseña"
          [(ngModel)]="loginData.contrasena"
          name="contrasena"
          required
          #contrasena="ngModel" 
        />
        <span class="input-icon" (click)="togglePasswordVisibility()">
          <i class="fas" [class.fa-eye]="!showPassword" [class.fa-eye-slash]="showPassword"></i>
        </span>
      </div>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <button type="submit" class="login-button" [disabled]="!correo.valid || !contrasena.valid">Acceder</button> <!-- Deshabilita el botón si hay campos inválidos -->
    </form>
  </div>
</div>

