<div class="container mt-4">
  <h2>Gestión de Tipos de Equipos</h2>

  <button class="btn btn-primary mb-3 me-5" (click)="mostrarFormularioAgregar()">
    Agregar Equipo
  </button>
  <button
    type="button"
    class="btn btn-secondary mb-3"
    (click)="router.navigate(['/admin'])"
  >
    Cerrar
  </button>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tipoEquipo of tipoEquipos">
        <td>{{ tipoEquipo.idTipoEquipo }}</td>
        <td>{{ tipoEquipo.nombre }}</td>
        <td>
          <button
            class="btn btn-warning btn-sm"
            (click)="mostrarFormularioEditar(tipoEquipo)"
          >
            Editar
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modal -->
  <div
    class="modal fade"
    id="tipoEquipoModal"
    tabindex="-1"
    aria-labelledby="tipoEquipoModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tipoEquipoModalLabel">
            {{ editando ? "Editar Equipo" : "Agregar Equipo" }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form #form="ngForm" (ngSubmit)="guardarEquipo()">
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input
                type="text"
                id="nombre"
                [(ngModel)]="equipoActual.nombre"
                name="nombre"
                class="form-control"
                required
              />
            </div>
            <button type="submit" class="btn btn-success">
              {{ editando ? "Actualizar" : "Guardar" }}
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
